<h1>Produkte</h1>

<table class="catalog">
<% for item in @items %>
  <tr>
    <td>
        <div class="image">
            <%= link_to (image_tag item.image_url), item %>
        </div>
    </td>
    <td>
        <div class="title">
            <%= link_to item.title, item %>
        </div>
        <div class="description">
            <%=h item.description %>
        </div>
        <div class="links">
            <% if session[:login] == 1 %>
                <%= link_to 'Edit', edit_item_path(item) %> |
                <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
            <% else %>
                <%= button_to "Zum Einkaufswagen hinzufuegen", :controller => :Cart, :action => :add, :id => item %>
            <% end %>
        </div>
        <div class="price">
            <%= number_to_currency(item.price, :unit => "&euro; ") %>
        </div>
    </td>
  </tr>
<% end %>
</table>

<% if session[:login] == 1 %>
    <p><%= link_to 'New item', new_item_path %></p>
<% end %>
